<ul class="unstyled">
    <li>
        <button class="btn btn-inverse courses-pulldown-button" type="button" id="type0">Large button</button>
        <ul>
            <li>
                <button class="btn btn-link courses-pulldown-button" type="button" id="discipline0">Large button</button>
                <ul>
                    <li>
                        <a href="/Course/Index/"<!--Id--->>Course Name - avarage rating </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>