<!-- wrapper -->
<div class="container">

<header>
<!-- logo -->
<h1><a href="”#”">Rate</a></h1>

<ul class="inline text-right">
    <li><a href="#registration"></a>Registration</li>
    <li><a href="#login"></a>Login</li>                 
</ul>
	

<!-- main menu -->
<nav>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li ><a href="#page0">Home</a></li>
                <li><a href="#page1">Projects</a></li>
                <li><a href="#page2">Services</a></li>
                <li><a href="#page3">Downloads</a></li>
                <li><a href="#page4">About</a></li>
                <li><a href="#page5">Contact</a></li>
            </ul>
            <form class="form-search search-bar">
                        <input type="text" class="input-big search-query">
                        <button type="submit" class="btn btn-link">Search</button>
            </form>
        </div>
    </div>
</div>
</nav>

<!-- dropdown -->
<!-- <li class="active">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-th-large"></i> Drop Down
    <b class="caret"></b>
</a>
<ul class="dropdown-menu">
    <li><a href="#">Item1</a></li>
    <li><a href="#">Item2</a></li>
    <li><a href="#">Item3</a></li>
</ul>

</li> -->

<!-- slider menu -->
<div class="hero-unit">
    <h1></h1> 
    <p></p> 
    <a href="#" class="btn btn-large btn-success">Get Started</a>
</div>
</header>

<section id = "main_content">
<!-- two columns -->
 	
</section>

@section scripts{
    <script src="@Href("~/Scripts/bootstrap.js")"></script> 
    <script src="@Href("~/Scripts/load_pages_with_ajax.js")"></script>
}