<table class="table">
    <tr>
        <td>First row</td>
    </tr>
    <tr>
    	 <td>Second row</td>
    </tr>
    <tr>
    	 <td>Third row</td>
    </tr>
    <tr>
    	 <td>Fourth row</td>
    </tr>
</table>